.contenedor-total {
  width: 700px;
  height: 24rem;
  border: 5px;
  border-color: black;
  border-radius: 12px;
  background-color: #d48e4f;
  scroll-behavior: auto;
	color: black;
}

.contenedor-dni {
  width: 470px;
  float: right;
}

.dni-img {
  max-width: 80%;
}

.contenedor-perfil {
  float: left;
}

.descripcion {
  width: 100%;
  margin-top: 7%;
  margin-left: 20%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.frente-imagen {
  max-width: 100px;
  max-height: 100px;
}

.botones-total {
  width: 180px;
  position: center;
  margin-bottom: 10%;
}
.boton-simple1 {
  background-color: #484e55;
  display: inline;
  margin: 3%;
  color: white;
  font-family: sans-serif;
  font-size: 13.25px;
  margin: 8.32813px;
  padding: 4px 8px;
  border-radius: 0.2rem;
}
.boton-simple1:hover {
  background-color: #282c2f;
}

.container-aceptar-rechazar {
  border: 5px;
  border-color: black;
  border-radius: 12px;
  background-color: #d48e4f;
  scroll-behavior: auto;
  color: black;
  display: flex;
	flex-direction: row;
	margin: 50px;
	padding: 20px;
}

.foto-perfil-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.foto-perfil {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.descripcion-profile {
  width: 100%;
	margin-bottom: 20px;
}

.descripcion-profile-item {
	text-align: center;
}

.dni-pictures-container {
	display: flex;
	align-items: center;
}

.column-container-profile {
	width: 30%;
	height: 100%;
}

.column-container-dni {
	width: 70%;
	height: 100%;
}

.dni-image {
  width: 300px;
	height: 200px;
	margin-bottom: 20px;
  object-fit: cover;
}

.botones-container {
	/* width: 180px; */
  /* position: center; */
	/* margin-bottom: 10%; */
	/* float: right; */
}

.info-container-dni {
  display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.boton-profile-dni {
  background-color: #484e55;
  display: inline;
  color: white;
  font-size: 15px;
	margin: 20px 20px 0px;
	padding: 10px 40px;
	border: none;
  border-radius: 0.2rem;
}
.boton-profile-dni:hover {
  background-color: #282c2f;
}

