

.fila {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .ItemSeleccionado {
    cursor:pointer;

    background: #d48e4b; 
     width:100px;
     padding:5px;
     height: 120px;
     font-family: sans-serif;
     font-size: 13px;
     margin:10px;
  }

  .ItemNoSeleccionado {
    cursor:pointer;
    background: #272B30;
    width:100px;
    font-family: sans-serif;
    font-size: 13px;
    padding:5px;
    height: 120px;
    margin:10px;
  }

  .ItemNoSeleccionado:hover{
    transform: scale(1.4,1.4);
    -moz-transform: scale(1.4,1.4);
    -o-transform: scale(1.4,1.4);
    -ms-transform: scale(1.4,1.4);
    -webkit-transform: scale(1.4,1.4);

  }

