.Fechas {
    box-shadow: 0 0 0 1px rgba(0, 0, 0,.1), 0 2px 4px 1px rgba(0, 0, 0,.1);
    width: 80vw;
    margin: 0 35px;
   
}


.calendario input {
  
    width: 250px;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    outline: none;
    color: #696970;
    font-size: 15px;
}