nav .navbar-nav li a{
    color: white !important;
    }

.nav-link {
  text-align: center;
}


    /* ul.navbar-nav li.active {
        background-color: red;
    } */

    /* .tab {
        width: 100%;
        padding: 20px 0;
        background: primary-color;
        color: white;
        overflow: hidden;
        text-align: center;
        flex-grow: 1;
        cursor: pointer;
        position: relative;
        text-decoration: none;
      }
      
      
      
      .tab.active {
        background: tertiary-color;
        color: red;
      } */