.side-drawerchat{
    /* height: 22%; */
    background: #f9aa68;
    box-shadow: 2px 0px 5px rgba(0,0,0);
    position: fixed;
    top:15px;
    right: 10px;
 
    color: black !important;
    z-index: 200;
    cursor: pointer;
    font-family: 'Lato', sans-serif !important;
      font-size: 18px;
    
}

.side-drawerchat ul{
    list-style:none;
    margin-left: 0;
    padding-left: 5px;
    color: black;

} 

 .side-drawerchat li{
    margin:0.5rem 0;
    margin-left: 0;
    color:black;
}

.side-drawerchat a{
    color: #94a0af;
    text-decoration: none;
    font-size: 1rem;
    color:black;
}

.side-drawerchat a:hover, .side-drawerchat a:active {
    color:#696970;
} 




