.Fechas {
    box-shadow: 0 0 0 1px rgba(0, 0, 0,.1), 0 2px 4px 1px rgba(0, 0, 0,.1);
    width: 80vw;
    margin: 0 35px;
   
}


.Fechas select{
    border: none;
  height: 5px;
  width: 60vw;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  border-radius: 12px;


}

.calendario2 input {
    color:black;
    border: none;
    height: 5px;
    width: 60vw;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 2px;
    border-radius: 12px;   
    background-color: white;
    
}

