.page{
    background: url("./icons/404.png") center ;
  padding-top: 200px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.princ{
    padding-top: 40px;
}