.GuideCard {
      
    background-color: #f9aa68;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
  
    padding: 2px;
  }

 .GuideCardText {

    color: white;
    
    

  }



.GuideText {

    color: white;
    
    

  } 