.GuideProfile {
  text-align: center;
  background: #272B30;
 height: 100vh;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: #696970;
 font-family: sans-serif;
 overflow: scroll;
 font-size: 13px;
    
  }
  .descripcion-input{
font-size: 13px;
color:#696970 ;
justify-items: center;

  }
  
.idioma-input{
  width: 125px;
   

    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    outline: none;
    color: #e4e4e4;
    font-size: 13px;
}

  .BodyGuide {
    padding-top: 5vh;
  overflow: scroll; 
  }


.contenedor {
  display: inline;
}

.checkbox-container label{
  align-self: left;
  align-items: flex-start;
  cursor:pointer;

}

.ActivityGuia {
  width: 8vh;
  height: 8vh;
  margin: 10px 10px;  
  border-radius: 12px;
  padding: 10px;
}

.buttonsSectionGuide {
  width: 100%;
  margin: 30px 10%;
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
}


.buttonGuideSave {
 background: #cda760;
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.buttonGuideCancel {
  background: #cd7660;
   border: 0;
   width: 250px;
   height: 40px;
   border-radius: 3px;
   color: white;
   cursor: pointer;
   transition: background 0.3s ease-in-out;
 }

h2 {
  color: #d48e4b;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
h3 {
  color: #d48e4b;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

  

  .IdiomsSection {
    padding-bottom: 15px;
    display: flex;
    
    justify-content: center;
    align-items: center;
  }

  .Dropdown {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    background-color: #f7913c;
    font-size: 17px;
    width: 80vw;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    padding: 2px;
  }
  .containerGuid {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerGuid input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerGuid:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerGuid input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerGuid input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerGuid .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .form-group{
width: fit-content;
padding-left: 60pt;

  }

  