
.Login {

  box-sizing: content-box;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #696970;
  font-family: sans-serif;
  overflow: scroll;


}
 

a {
  color: #a7a8b4;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Lato', sans-serif !important;
}
.header{

  align-items: center;
}
.btn-login {
  background: #d48e4b !important;
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;}
 


.login-input {

  width: 50%;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff0a;
  outline: none;
  color: #696970;
  font-size: 13px;
}
.input {

  width: 250px;
  padding: 25px 0px;
  background: transparent;
  font-family: 'Lato',sans-serif !important;
  border: 0;
  border-bottom: 1px solid #ffffff0a;
  outline: none;
  color: #696970;
  font-size: 16px;
  overflow: scroll;
  
}
.login-button:hover {
  background: #7dca96;
}


.signup {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}


.submit:hover {
  margin-top: 30px;
  display: block;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #6d7781;
}

.form-error {
  
  color: #e26a6a;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}


.Container {



 height: 100vh;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
 
  text-align: center;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: #696970;
 font-family: sans-serif;
}

.comenzar {
  position: relative;
  top:150px;
  
}
#Inicio {
  height: 100vh;
  padding-top: 80px;
  background: url("./icons/background-image.jpg") center ;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: #F9AA68
  
}


.eslogan{
  padding-top: 10px;
}
.texto{
  position: relative;
  top:190px;
}


.index__section-title2{
  color: #9CD6AE;
}

.index__section-title{
  color: #F9AA68
}

#WeRaisen {

  background: #9CD6AE;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  color: #4f4f53;
  word-spacing: 1pt;

}
.text{
  padding-top: 50px;
}

#Funcionamiento {
  background:#F9AA68;
  height: 100vh;
  padding-top: 50px;
  color: #4f4f53;
  word-spacing: 1pt;
}
.continuar{
  position:center;
  padding-top:10%;
}

.continuar1{
  position:center;
  padding-top: 300px;
}

.continuar2{
  position:center;
  padding-top:10%;
}
.imag:hover{
  transform: scale(1.2,1.2);
  -moz-transform: scale(1.4,1.4);
  -o-transform: scale(1.4,1.4);
  -ms-transform: scale(1.4,1.4);
  -webkit-transform: scale(1.2,1.2);
}
.logo{
  margin-top: 0px;
}
.web{
  margin-top: 50px;
  margin-bottom: 0px;
}
.scrollButton {
  color: black;
  text-decoration: none;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow:2px 2px 2px lightgrey;
  cursor: pointer;
}