.Login {
  text-align: center;
  background-color: #7dca96;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-button {
  color: white;
  background-color: #f7913c;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 60vw;
}

.signup-button {
  color: white;
  background-color: #f9aa68;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 60vw;
  font-weight: 600;
}

.login-input {
  border: none;
  width: 60vw;
  height: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

.signup {
  margin-top: 40px;
}

