.User{
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato',sans-serif !important;
    background-color: #2c2c2c;
    opacity: 0.9;
    width: 300px;
    border-radius: 6px;
    
  }

  .contaainer {
    
     width: 100%;
     overflow: scroll;
     scroll-behavior: smooth;
     font-family: 'Lato',sans-serif !important;
     text-align: center;
    align-items: center;
    justify-content: center;
    color: #e0e0e4;
    place-items: center;
    align-items: center;
    height: 100vh;
    background-color: #282828 !important;
    
   }

  
   