.Results {
  background-color: #272B30;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: #696970;
  font-family: sans-serif;
  overflow: scroll;
  position:relative ; 
  text-align: center;
} 

.BodyResults {
  align-content: center;
  overflow: scroll; 
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}


.Section{

  padding:5px
}

@media screen and (min-width:700px){
  .container-fluid{
      align-content: center;
      max-width: 800px;}}