.TyC {
    padding-top: 10VH;
    text-align: center;
    background: #272B30;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: #46485c;
   font-family: sans-serif;
  padding-block-end: 10vh;
   overflow: scroll; 
  }
  h1 {
    color: #d48e4b;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif !important;
  }

  h2 {
    color: #d48e4b;
    text-align: left;
    margin-bottom: 10px; 
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  h3 {
    color: #d48e4b;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px; 
    font-family: 'Lato', sans-serif !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  
   h4 {
    color: #d48e4b;
    font-weight: 400;
    text-align: left;
    margin-bottom: 12px; 
    font-family: 'Lato', sans-serif !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  p{
color: #696970 ;
font-family: 'Lato', sans-serif !important;
margin: 10px !important;;


  }
 
 
 

 